body {
  min-height: 1000px;
  padding-top: 70px;
  background: url(./docs/examples/cover/paper.jpg) fixed; 
}

.portfolio-item {
  margin-bottom: 25px;
}

.my-jumbotron {
  background: white; 
  background-repeat:repeat;
  padding-bottom: 50px;
}

.my-navbar-brand {
  font-family: 'Lobster Two', cursive;
}

.my-navbar {
  padding-top: 10px;
}

.my-img {
  border
}